{% extends "layout.html" %}

{% block content %}

    <section class="form-register">
        <div class="form-register-container">

            <div class="form-register-title">
                <h1>Iniciar sesión</h1>
            </div>
    
            <div class="form-register-text">
                <form class="register-form" action="" method="post" novalidate>
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.email.label }}<br>
                        <br>
                        {{ form.email(size=64, placeholder="email@email.com") }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.password.label }}<br>
                        <br>
                        {{ form.password(size=64, placeholder="**********") }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="register-form">
                        {{ form.submit(id="submit-button") }}
                    </div>
                </form>
                <!-- <div class="menu-boton-registro">
                    <p>¿No tienes cuenta? <a class="boton-registro" href="/users/register">Regístrate</a></p>
                </div> -->
            </div>
        </div>
    </section>

{% endblock %}